a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media only screen and (max-width: 500px) {
  body,
  html {
    font-size: 10px;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font: 16px/1.4 Georgia, serif;
  text-align: center;
  background: #e8dddd74;
}

.game-area {
  display: block;
  margin: auto;
  text-align: center;
  user-select: none;
  min-width:400px ;
}
.game {
  border-radius: 5%;
}

.game {
  width: 100%;
  padding-bottom: 100%;
  background: #b8ede1;
  position: relative;
  border-radius: 5%;
}
.button {
  outline: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 25%;
  height: 25%;
  margin: 0;
  padding: 0;
  border: none;
  color: #f8f8ff;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: inset 1px 1px #e5d6f6;
  transition: transform 0.2s, filter 0.5s;
  border-radius: 5%;
  text-shadow: 0px 0px 6px rgba(0,0,0,0.64);
}

.value1 {
  background-image: url(../assets/content/render-1/image_part_001.jpg);
  background-size: 100% 100%;
}
.value2 {
  background-image: url(../assets/content/render-1/image_part_002.jpg);
  background-size: 100% 100%;
}
.value3 {
  background-image: url(../assets/content/render-1/image_part_003.jpg);
  background-size: 100% 100%;
}
.value4 {
  background-image: url(../assets/content/render-1/image_part_004.jpg);
  background-size: 100% 100%;
}
.value5 {
  background-image: url(../assets/content/render-1/image_part_005.jpg);
  background-size: 100% 100%;
}
.value6 {
  background-image: url(../assets/content/render-1/image_part_006.jpg);
  background-size: 100% 100%;
}
.value7 {
  background-image: url(../assets/content/render-1/image_part_007.jpg);
  background-size: 100% 100%;
}
.value8 {
  background-image: url(../assets/content/render-1/image_part_008.jpg);
  background-size: 100% 100%;
}
.value9 {
  background-image: url(../assets/content/render-1/image_part_009.jpg);
  background-size: 100% 100%;
}
.value10 {
  background-image: url(../assets/content/render-1/image_part_010.jpg);
  background-size: 100% 100%;
}
.value11 {
  background-image: url(../assets/content/render-1/image_part_011.jpg);
  background-size: 100% 100%;
}
.value12 {
  background-image: url(../assets/content/render-1/image_part_012.jpg);
  background-size: 100% 100%;
}
.value13 {
  background-image: url(../assets/content/render-1/image_part_013.jpg);
  background-size: 100% 100%;
}
.value14 {
  background-image: url(../assets/content/render-1/image_part_014.jpg);
  background-size: 100% 100%;
}
.value15 {
  background-image: url(../assets/content/render-1/image_part_015.jpg);
  background-size: 100% 100%;
}
.value16 {
  background-image: url(../assets/content/render-1/image_part_016.jpg);
  background-size: 100% 100%;
}
